header{
    width: 100%; /* width do cabeçalho*/
    padding: 40px 0; /* respiro interno do header*/
    position: fixed; /*usado para posicionar o elemento header em relação a janela de visualização vw */
    top: 0; /*Fixa o elemento no topo da tela*/
    left: 0;/*fixa o elemento no lado esquerdo da tela*/

    z-index: 99; /*Para a rolagem dinamica estar na frente da seção hospedagem*/

    transition: .5s ease-in-out; /*transição da rolagem dinamica*/ 
}

header .interface /*TODO ESTILO SERÁ APLICADO APENAS NO .INTERFACE DO HEADER */{
    display: flex; /* Deixa os itens do cabeçalho na horizontal, um do lado do outro */
    justify-content: space-between; /* espaçamento entre os itens do cabeçalho */
    align-items: center; /*fica tudo alinhado no eixo vertical */
}

header .logo .logo-branca{
    max-width: 40px; /* redimensiona o tamanho da logo do cabeçalho */
}

/*Estilo do menu dinamico*/
header .logo .logo-preta{
    display: none;
}

header.rolar{
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.601); /*shadow na box do header na rolagem dinamica*/
}

header.rolar .menu-desktop nav ul li a{
    color: black; /*Cor dos links na rolagem dinamica*/
}

header.rolar .btn-contato button{
    /*Borda e cor do botão do header na rolagem dinamica, transição do hover na rolagem dinamica tambem*/
    border: 1px solid black;
    color: black;

    transition: .5s ease-in-out;
}

header.rolar .btn-contato button:hover{

    background-color: black;
    color: white;
}

header.rolar .logo .logo-branca{
    /*Para a logo branca desaparecer*/
    display: none;
}

header.rolar .logo .logo-preta{
    /*para a logo preta aparecer e o max-width para diminuir  o tamanho da logo*/ 
    display: block;
    max-width: 40px;
}
/*----------------------*/



header .menu-desktop nav ul{
    list-style: none;
}

header .menu-desktop nav ul li{
    display: inline-block; /* Deixa os itens da navigation um do lado do outro*/
    margin: 0 40px; /*Espaçamento entre os links do navigation*/
}

header .menu-desktop nav ul li a{
    text-decoration: none; /*Tira o sublinhado do link*/
    color: white; /*Cor do texto do link do cabeçalho*/

    display: inline-block;/*para que o link que originalmente é inline-level possa receber a propriedade transform scale*/

    transition: .2s;/*Tempo do transform*/
}

header .menu-desktop nav ul li a:hover{
    transform: scale(1.05);/*zoom de quando passa o mouse por cima do link do cabeçalho*/
}

header .btn-contato button{
    width: 140px;/*Largura do botão*/
    height: 50px;/*altura do botão*/
    font-size: 18px;/*tamanho da letra do botão*/
    background-color: transparent;/*Cor de fundo do botão*/
    border: 1px solid white;/*Borda do botão*/
    color: white;/*cor da letra do botão*/
    cursor: pointer;

    transition: 0.5s; /*Tempo do hover*/
}


header .btn-contato button:hover{
    background-color: white;
    color: black;
}






