header{
    width: 100%; /* width do cabeçalho*/
    padding: 40px 0; /* respiro interno do header*/
    position: fixed; /*usado para posicionar o elemento header em relação a janela de visualização vw */
    top: 0; /*Fixa o elemento no topo da tela*/
    left: 0;/*fixa o elemento no lado esquerdo da tela*/

    z-index: 99; /*Para a rolagem dinamica estar na frente da seção hospedagem*/

    transition: .5s ease-in-out; /*transição da rolagem dinamica*/ 
}

header .interface /*TODO ESTILO SERÁ APLICADO APENAS NO .INTERFACE DO HEADER */{
    display: flex; /* Deixa os itens do cabeçalho na horizontal, um do lado do outro */
    justify-content: space-between; /* espaçamento entre os itens do cabeçalho */
    align-items: center; /*fica tudo alinhado no eixo vertical */
}

header .logo .logo-branca{
    max-width: 40px; /* redimensiona o tamanho da logo do cabeçalho */
}

/*Estilo do menu dinamico*/
header .logo .logo-preta{
    display: none;
}

header.rolar{
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.601); /*shadow na box do header na rolagem dinamica*/
}

header.rolar .menu-desktop nav ul li a{
    color: black; /*Cor dos links na rolagem dinamica*/
}

header.rolar .btn-contato button{
    /*Borda e cor do botão do header na rolagem dinamica, transição do hover na rolagem dinamica tambem*/
    border: 1px solid black;
    color: black;

    transition: .5s ease-in-out;
}

header.rolar .btn-contato button:hover{

    background-color: black;
    color: white;
}

header.rolar .logo .logo-branca{
    /*Para a logo branca desaparecer*/
    display: none;
}

header.rolar .logo .logo-preta{
    /*para a logo preta aparecer e o max-width para diminuir  o tamanho da logo*/ 
    display: block;
    max-width: 40px;
}
/*----------------------*/



header .menu-desktop nav ul{
    list-style: none;
}

header .menu-desktop nav ul li{
    display: inline-block; /* Deixa os itens da navigation um do lado do outro*/
    margin: 0 40px; /*Espaçamento entre os links do navigation*/
}

header .menu-desktop nav ul li a{
    text-decoration: none; /*Tira o sublinhado do link*/
    color: white; /*Cor do texto do link do cabeçalho*/

    display: inline-block;/*para que o link que originalmente é inline-level possa receber a propriedade transform scale*/

    transition: .2s;/*Tempo do transform*/
}

header .menu-desktop nav ul li a:hover{
    transform: scale(1.05);/*zoom de quando passa o mouse por cima do link do cabeçalho*/
}

header .btn-contato button{
    width: 140px;/*Largura do botão*/
    height: 50px;/*altura do botão*/
    font-size: 18px;/*tamanho da letra do botão*/
    background-color: transparent;/*Cor de fundo do botão*/
    border: 1px solid white;/*Borda do botão*/
    color: white;/*cor da letra do botão*/
    cursor: pointer;

    transition: 0.5s; /*Tempo do hover*/
}


header .btn-contato button:hover{
    background-color: white;
    color: black;
}



/*Estilo do botão do menu mobile*/
header .btn-menu-mob{
    display: none;

    z-index: 99999999; /*Para aparecer o x quando o menu mobile estiver aberto*/
}


header .btn-menu-mob .line-menumob-1{
    /*Criação da linha 1*/
    width: 30px;
    background-color: white;
    height: 3px;
    margin: 10px 0;

    transition: .2s ease-in-out;/*Transição de quando clicar no menu mob*/
}

header .btn-menu-mob .line-menumob-2{
    /*Criação da linha 2*/
    width: 20px;
    background-color: white;
    height: 3px;
    margin: 10px 0;

    transition: .2s ease-in-out; /*Transição de quando clicar no menu mob*/
}

header.rolar .btn-menu-mob div {
    /*Para quando rolar a pagina e ativar o menu dinamico, o menu mobile mudar para a cor preta*/
   background-color: black; 
}

/*Para fazer a transição da barra para o x*/
header .btn-menu-mob .line-menumob-1.ativo1{
    transform: rotate(45deg) translate(30%);
    
    background-color: white;/*Para quando rolar a pagina o x do menumobile continuar aparecendo*/

}

header .btn-menu-mob .line-menumob-2.ativo2{
    transform: rotate(-45deg) translate(30%);
    width: 30px;/*Para as duas linhas ter um width igual*/

    background-color: white;/*Para quando rolar a pagina o x do menumobile continuar aparecendo*/
}

/*Estilo do menu mobile*/

header .menu-mobile{
    width: 0;
    height: 0;
    background-color: black;

    /*Para o menu mobile respeitar a altura de todo o site e não do header*/
    position: absolute;
    top: 0;
    right: 0;

    /*Para colocar os itens no centro da tela*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow: hidden; /*Para esconder o os links do menu mobile quando nao tiver clicado no menu*/
    transition: .5s;/*Transição de quando abrir o menu mobile*/
}


header .menu-mobile nav ul{
    list-style: none;
}

header .menu-mobile nav a{
    display: inline-block;/*Para receber a propriedade padding, links naturalmente são inline level e não recebem propriedades como padding*/
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 20px 0;

    transition: .5s ease-in-out;
}

header .menu-mobile nav a:hover{
    
    color: orange;
    text-shadow: 0 0 20px white;
}

header .menu-mobile.abrir{
    /*Para mostrar os links quando clicar no menu hamburger*/
    width: 100%;
    height: 100vh;
}

body.no-overflow{
    /*Para quando o menu-mobile estiver aberto não conseguir rolar a pagina*/
    overflow: hidden;
}