.hoteis{
    height: 600px;
    background-image: url(../images/hotel-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    /*estilização e centralização dos textos */
    color: white;
    text-align: center;


    position: relative; /*Para colocar o overlay preto na frente da imagem */
}

.hoteis .overlay{
    /*Para colocar o overlay preto na frente da imagem*/
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.622);
    width: 100%;
    height: 100%;

    z-index: 1;/*Para o texto ficar na frente da imagem e do overlay*/
}

.hoteis .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    
    /*Para o texto ficar na frente da imagem e do overlay*/
    z-index: 2;
    position: relative;
}


.hoteis h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 300;
    
}

.hoteis h3 span{
    display: block;
    font-weight: 600;
}

.hoteis p{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
}

.hoteis button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: .5s ease-in-out;
    width: 220px;
    height: 60px;
}

.hoteis button:hover{
    background-color: white;
    color: black;
}