.vantagens{
    padding: 80px 0;
}

.vantagens .itens-container{
    display: flex; /*Para deixar um item do lado do outro*/
    align-items: center; /*para alinhar o texto no eixo vertical*/
    justify-content: space-between;/*Espaço entre o texto e a img*/

    gap: 10%; /*gap entre os itens*/
    margin-bottom: 60px; /*margem em baixo dos tres itens*/
}

.vantagens .itens-container .img-itens img{
    max-width: 480px; /*Largura maxima da imagem*/
}

.vantagens .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px; /*margem debaixo do titulo h3*/
}

.vantagens .itens-container .txt-itens h3 span{
    font-weight: 300;
}

